.popup-message {
    display: none;
    background-color: white;

    position: fixed;
    top: 40%;
    left: 40%;
    z-index: 69;
    padding: 2em;
}

.popup-overlay {
    display: none;
    z-index: 3;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(151, 151, 151, 0.4);
}

.close {
    width: 50px;
    position: fixed;
    top: 30px;
    right: 30px;
}

.application-card {
    width: 95%;
    max-width: 500px;
    margin: 1em auto;
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding: 0.5em;
    border-radius: 0.2em;
}

.application-card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.application-card-title a h4 {
    text-align: left;
    font-size: 1.2em;
}

.application-response-selected {
    background-color: $blue;
    color: white,
}

.application-response-btn {
    font-size: 0.9em;
    background-color: white;
    border: none;
    margin: 0 0.2em;
    padding: 0 0.8em;
    border-radius: 1em;
    text-align: center;
    // opacity: 0.5;
}

.application-response-status-container {
    font-size: 0.8em;
    color: $blue;
    font-weight: bold;
}

.response-btn-container {
    display: flex;
}

.application-card-content {
    padding: 1em 0;
    text-align: left;

}

.application-card-content div {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.application-card-content div p:first-child {
    font-size: 0.9em;
}

.application-card-content div p:last-child {
    font-size: 0.7em;
}

.application-btn-container {
    display: flex;
    justify-content: space-around;
}

.internship-page-student .application-cards {
    //    width: 500px;
    display: flex;
    flex-wrap: wrap;
    // flex-direction: row;
    // justify-content: flex-start;
}

.internship-page-student h3 {
    text-align: center;
}
