.title-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.title-flex h1 {
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bold;
    padding-right: 1em;
    padding-top: 0.4em;
}

.public-company-container {
    width: 90%;
    margin: auto;
}

.public-company-container h2 {
    text-align: left;
    font-size: 0.8em;
    padding: 1.5em 0 0.5em 0;
    color: $darkgrey;
    font-weight: 600;
    text-transform: uppercase;
}

.company-info-desc{
    margin-bottom: 4em;
}