.entry-page {
    background-image: url("/images/wave4.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    min-height: 120vh;
    background-color: white;
}

.entry-content {
    width: 90%;
    margin: 0 5%;
    position: absolute;
    padding: 2em;
    // top: 35%;
    // transform: translateY(-35%);
    border-radius: 1em;
    background-color: white;
}

.logo-entry-container {
    text-align: center;
}

.logo-entry {
    width: 100px;
}

.entry-content h2 {
    margin-top: 2em;
    text-align: center;
    color: $blue
}

.btn-social {
    text-decoration: none;
}

.btn-social span {
    text-decoration: underline;
}

.link-redirect {
    color: $blue;
    text-decoration: none;
}

.link-redirect-container {
    text-align: center;
}

.btn-container {
    text-align: center;
}

.btn-primary {
    border: 1px solid $blue;
    background-color: $blue;
    color: white;
    border-radius: 2em;
}

.link-redirect-container {
    margin-bottom: 3em;
}

.form-group label {
    padding-left: 0.8em;
    margin-top: 1em;
    margin-bottom: 0.2em;
    color: $blue;
}

.form-group input[type=email],
.form-group input[type=password],
.form-group input[type=text] {
    background-color: $grey;
    border-radius: 2em;
    border: 1px solid $grey;
}

.list-group {
    margin-bottom: 2em;
}

.signup-section {
    margin-top: 1.5em;
}

.link-redirect-container-signup {
    margin-top: 1.5em;
}

.signup-section h3 {
    color: $blue;
}

.form-group-buttons {
    margin-top: 1.5em;
    display: flex;
    justify-content: space-between;
}

.form-group-buttons a,
.form-group-buttons input[type=submit] {
    width: 47%;
}

.btn-light {
    border-radius: 2em;
}

.form-group-button{
    margin-top: 3em;
    text-align: center;
}

@media(min-width: 750px) {
    .login-container {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    .manual-signup-container {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }


    .signup-container {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .signup-section {
        width: 50%;
        padding: 0.5em;
    }

    .signup-section h3 {
        text-align: center;
    }

    .entry-content p {
        text-align: center;
    }
}
