.create-internship-title{
    text-align: left;
    font-size: 1.2em;
    padding: 0.5em;
    width: 90%;
    margin: auto;
}

.create-internship-input{
    width: 90%;
    margin: auto;
    height: 2em;
    resize: none;
}