.create-internship-title{
    text-align: left;
    font-size: 1.1em;
    padding: 1.5em 0 0.5em 0;
    width: 90%;
    margin: auto;
    color: $blue;
}

.create-internship-input{
    width: 90%;
    margin: auto;
    height: 2em;
    resize: none;
}