.messages-page-container{

    padding: 0.5em;
    max-width: 600px;
    margin: auto;
}

.messages-container{
    height: 60vh;
    overflow: scroll;
}

.message-text{
    padding: 0.2em;
}

.own-message {
    background-color: $paleblue;
    border-radius: 1em 0.5em 0.7em 1em;
    margin-right: 0.5em;
}

.other-message {
    background-color: $palegrey;
    border-radius:0.5em 1em 1em 0.7em;
    margin-left: 0.5em;
}

.conversations-container {
    max-width: 500px;
    margin-bottom: 1em;
    margin-top: -2em;
}

.contacts-dropdown {
    width: 100%;
    text-align: right; 
    border:1px solid $blue;
    color: $blue;
    background-color: white;
    height: 2em;

}

.message-picture {
    max-height: 30px;
    border-radius:0.3em;
}

.single-message-container{
    display:flex;
    max-width: 100%;
    padding: 0.2em 1em;
}

.own-message-container{
    justify-content: flex-end;
}

.other-message-container{
    justify-content: flex-start;
}

.convo-message-input-container{
    display: flex;
    justify-content: flex-end;
}

.convo-message-input{
    border: 1px solid $blue;
    border-radius: 0.5em;
    width: 100%;
    max-width: 600px;
}