.profile-title{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3em;
    margin: 1em 0;
}

.btn-profile-edit{
    margin-top: 0.5em;
}
.cv{
    margin-left:30px;
}


.profile-picture-container{
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 2em;
    margin: 0 1em;
}