.survey-content{
    width: 95%;
    margin: 0 2.5%;
    position: absolute;
    padding: 2em;
    border-radius: 1em;
    background-color: white;
}

.survey-container{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.form-group div span{
    font-size: 0.8em;
}

.form-group div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.form-group div span:last-child{
    text-align: right;
}

.survey-content .form-group label{
    margin-bottom: 1.5em;
}

.survey-content .form-group{
    margin-bottom: 2em;
}

@media(min-width:600px){
    .survey-content h2, .survey-content p{
        text-align: center;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
}