.survey-content{
    width: 95%;
    margin: 2em 2.5%;
    position: absolute;
    padding: 2em;
    border-radius: 1em;
    background-color: white;
}

.survey-container{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.form-group div .col{
    font-size: 0.8em;
}

.form-group .survey-flex{
    width: 100%;
    display: flex;
 
}

.form-group .survey-flex .col:last-child{
    text-align: right;
}

.survey-content .form-group label{
    margin-bottom: 1.5em;
}

.survey-content .form-group{
    margin-bottom: 2em;
}

.survey-content .logo-entry-container{
    margin-bottom: 2em;
}

.survey-label:last-child{
    text-align: right;
}

@media(min-width:600px){
    .survey-content h2, .survey-content p{
        text-align: center;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media(min-width: 800px){
    .survey-content{
        max-width: 750px;
        position: relative;
        margin: 2em auto 2em auto;
    }
}