@import url(https://fonts.googleapis.com/css?family=Nunito);.own-message {
  background-color: grey;
}

.create-internship-title {
  text-align: left;
  font-size: 1.2em;
  padding: 0.5em;
  width: 90%;
  margin: auto;
}

.create-internship-input {
  width: 90%;
  margin: auto;
  height: 2em;
  resize: none;
}

body {
  font-family: "Work Sans", sans-serif;
  color: #12396A;
}

